.s-option-base {
    min-width: 205px;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    padding-left: 10px;
}
.s-option-hover-bg {
    background-color: #f5f7fa;
}
.s-option-disabled {
    cursor: not-allowed;
    color: #cccccc;
}
.s-option-use {
    cursor: pointer;
    color: #666666;
}
.s-option-selected {
    color: #409EFF;
    background-color: #f5f7fa;
}
