.s-slider-button-con {
    width: 36px;
    height: 36px;
    border: 1px solid #cccccc;
    position: absolute;
    top: -16px;
    left: -18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.s-slider-button-con:hover {
    cursor: grab;
}
.s-slider-button-con:active {
    cursor: grabbing;
}
.s-slider-button-ball {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid #409EFF;
    border-radius: 50%;
}
.s-slider-button-ball:hover {
    cursor: grab;
}
.s-slider-button-ball:active {
    cursor: grabbing;
}
