.hover {
    cursor: grab;
}
.dragging {
    cursor: grabbing;
}
.s-slider-icon {
    border-radius: 50%;
    border: 2px solid #409EFF;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    user-select: none;
    background-color: #ffffff;
    transition: width 0.2s, height 0.2s;
    position: absolute;
    top: -8px;
    transform: translate(-50%);
}
.s-slider-enter-button {
    width: 22px;
    height: 22px;
}
.s-slider-common-button {
    width: 20px;
    height: 20px;
}
